/.vscode
/node_modules

/net.phimai.pterodactyl.sdPlugin/logs
/net.phimai.pterodactyl.sdPlugin/bin
net.phimai.pterodactyl.sdPlugin/logs/*
net.phimai.pterodactyl.sdPlugin/bin/*
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.0.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.1.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.2.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.3.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.4.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.5.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.6.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.7.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.8.log
net.phimai.pterodactyl.sdPlugin/logs/net.phimai.pterodactyl.9.log
net.phimai.pterodactyl.sdPlugin/bin/plugin.js
net.phimai.pterodactyl.sdPlugin/bin/plugin.js.map
